/*Reglas para el recuadro principal donde se muestra el objeto*/
.main-producto{
    padding: 1%;    /*Se pone un poco de padding para que el contenido no este pegado*/
}

/*Contenedor donde se recoge la informacion del producto*/
#info{
    background-color: #c0ca33;  /*Se pone un color de fondo*/
    float:left; /*Se pone para que se pegue a la izquierda*/
    width: 55%; /*Se le pone un ancho concreto (relativo)*/
    display: grid;  /*Se usan grids*/
    grid-template-rows: repeat(4, auto); /*Se dispone en tres filas*/
    margin-bottom:10px; /*Se pone un poco de margen abajo para el texto*/
    border-radius: 0.5vh;   /*Se redondean las esquinas*/
    box-shadow: 0 7px 7px rgba(0,0,0,0.3); /*Se le pone una sombra*/
}

/*Reglas para el contenedor del titulo*/
#titulo{
    /*Estas dos reglas sirven para redondear las esquinas de arriba*/
    border-top-left-radius: 0.5vh;
    border-top-right-radius: 0.5vh;
    background-color: #cddc39;  /*Color de fondo*/
}

/*Reglas para el contenedor del precio*/
#precio{
    /*Estas dos reglas sirven para redondear las esquinas inferiores*/
    border-bottom-left-radius: 0.5vh;
    border-bottom-right-radius: 0.5vh;
}

/*Reglas para el contenedor de imagenes*/
#carrusel-imgs{
    display: grid;  /*Se usan grids*/
    grid-template-rows: 1fr; /*Se le dan a las filas el mismo espacio (por eso las unidades fr)*/
    padding: 1% 4% 1% 4%;
    position: relative;
    height: 270px;
    background-color: white;
    border-radius: 0.5vh;
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);  /*Sombras*/        
}

/*Regla para el div que contiene la imagen en si y el pie de foto*/
.img-producto{
    display: none;  /*Se usan grids*/
    grid-template-rows: auto;  /*Se disponen de dos filas, una para la imagen y otra para el pie*/
    grid-auto-columns: minmax(0, 1fr);
    width: 90%;

    justify-self: center;
    aspect-ratio: 1 / 1;
}

.img-producto > div:first-child{
    align-self: center;
}


.img-producto > div:nth-child(2){
    word-wrap: break-word;
    align-self:flex-end;
}

/*Reglas para centrar verticalmente un div*/
.centrado-vertical{
    align-self: center;
    color: black;
}

/*Regla que se usa para el texto de la descripcion del producto.*/
.justificado{
    clear: left;    /*Necesario para que el texto no aparezca entre el titulo del producto y las imagenes*/
    word-wrap: normal;  /*Se le quita el romper las palabras por estetica*/
    text-align: justify;    /*Se justifica el texto*/
}

/*Regla que se aplica a todos los h2*/
h2{
    font-size: 140%;
    margin: 0;
}

/*Regla que se aplica a todos los h3*/
h3{
    font-size: 100%;
    margin: 0;
}

/*Regla que se aplica a todas las tablas, td y tr*/
table, td, tr{
    border: solid 1px black;    /*Bordes negros*/
    border-collapse: collapse; /*Para que se junten los bordes*/
    /*Estos dos comandos son para centrar la tabla*/
    margin-left: auto;
    margin-right: auto;
}

table{
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);  /*Sombras*/  
}

/*Contenedor donde se pone otro con el video (es por cuestion de evitar overflow)*/
#video-container{
    display: grid;
    grid-template-columns: minmax(auto, 600px);
    /*grid-auto-rows: auto;*/
    justify-content: center;
}

/*Contenedor con el video*/
#video{
    border: 0;
    aspect-ratio: 16/9; /*Sirve para mantener la relacion de aspecto con independencia del tamaño*/
    width:100%;     /*Obligatorio para que el video se estire hasta llegar a 600px (se mantiene la relacion de aspecto)*/
}

/*Reglas para los botones que llevan a las redes sociales de NVIDIA*/
#producto-rrss-container{
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 60px));
    gap: 25px;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;         /*Para que se centre en el main*/
    padding: 2px;
}

/*Esta regla permite una transicion a la animacion mas suave*/
#producto-rrss-container > *{
    transition: all 0.3s;
}

/*Reglas que se aplican a todos los hijos del container con las rrss de NVIDIA*/
#producto-rrss-container > *:hover{
    transform: scale(1.25);
}

/*Regla para poner las fuentes en negrita*/
.negrita{
    font-weight: 700;
}

/*Regla para el boton de comprar*/
#boton-comprar{
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: 700;
    color: white;
    border-radius: 0.5vh;
    background-color: green;
    transition: all 0.3s;
    cursor: pointer;
}

#boton-comprar:hover{
    transform: scale(1.05);
}


/*Clases e IDs de la P2*/
#desplegable{
    /*border: solid 1px red;*/
    position:fixed;
    height: 100%;
    top: 0;
    left: calc(-1 * min(700px, 65vw));
    display: flex;
    z-index: 10;
    /*transition: 0.5s;*/
}

#comentarios-submit-container{
    width: min(700px, 65vw);
    /*border: solid 1px black;*/
    display: grid;
    grid-auto-rows: max-content;
    grid-auto-columns: 100%;
    gap: 0.7vh;
    overflow: hidden auto;
    /*background-color: rgba(255, 255, 255, 0.5);*/
    background-color: beige;
    border-radius: 0.5vh;
    /*box-shadow: 0;*/
}


#menu-boton{
    /*border: solid 1px orange;*/
    align-self: center;
}

#boton-comentario{
    width: min(60px, 20vw);
    background-color: transparent;
    border: 0;
}

.comentario-container{
    border-radius: 0.5vh;
    border: solid 1px black;    
    margin: 10px;
    background-color: #d9ead2;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-auto-columns: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

h4{
    text-align: center;
    font-size: 120%;
    margin: 2%;
}

.contenido-comentario{
    padding: 20px;
    text-align: justify;
    background-color: white;
    border-bottom-left-radius: 0.5vh;
    border-bottom-right-radius: 0.5vh;
}

#submit-comentario{
    padding: 2%;
    /*background-color: beige;*/
}

.fecha{
    text-align: center;
    margin-bottom: 20px;
}

input{
    display: block;
    margin-bottom: 5px;
}


button{
    cursor: pointer;
}

.ancho{
    width: 60%;
}

#comentario-nuevo{
    width: 90%;
    height: 100px;
    resize: none;
}

.comentario-email{
    text-align: center;
    margin-bottom: 20px;
}

.opaco-on-hover{
    opacity: 0.7;
    transition: 0.2s;
}

.opaco-on-hover:hover{
    opacity: 1;
}

.centrado{
    text-align: center;
}

#anterior, #siguiente{
    color: black;
    user-select: none;
    cursor: pointer;
    position: absolute;
    display: flex;
    font-size: 50px;
    transition: all 0.3s;
    height: 100%;
    align-items: center;
}

#anterior{
    border-bottom-left-radius: 0.5vh;
    border-top-left-radius: 0.5vh;
}

#siguiente{
    border-bottom-right-radius: 0.5vh;
    border-top-right-radius: 0.5vh;
}

#anterior:hover, #siguiente:hover{
    background-color: rgba(166, 166, 166, 0.5);
}

#siguiente{
    right: 0%;
}

#contenedor-imgs{
    float: right;   /*Para que se pegue a la derecha*/
    width: 40%; 
    max-width: 300px;
    /*background-color: white;
    border-radius: 0.5vh;*/
    margin-left: 10px;
    display: grid;
    gap: 10px;
    border-radius: 0.5vh;
}

#vista-previa{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr;
    gap: 1%;
    padding: 3%;
    background-color: white;
    border-radius: 0.5vh;
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);  /*Sombras*/    
}

.img-previa{
    align-items: center;
    display: flex;
    /*border: solid 1px red;*/
    transition: all 0.3s;
    cursor: pointer;
}

.img-previa:hover{
    background-color: rgba(166, 166, 166, 0.5);
}