{% extends "plantilla-producto.twig" %}


{% block descripcion %} 
{% if Ddescripcion is defined %}
{% for aux in Ddescripcion|split('\n') %}
    <p class="justificado">
        {{aux}}
    </p>
{% endfor %}   

{% else %}
    error

{% endif %}

{% endblock %}

{% block RRSS %}
<div>
    <a href="https://www.facebook.com/NVIDIA/">
        <img src="static/image/facebook.png" alt="NVIDIA FaceBook Cuenta"/>
    </a>
</div>

<div>
    <a href="https://twitter.com/nvidia">
        <img src="static/image/twitter.png" alt="NVIDIA Twitter Cuenta"/>
    </a>
</div>            

<div>
    <a href="https://www.youtube.com/c/NVIDIA">
        <img src="static/image/youtube.png" alt="NVIDIA YouTube Cuenta"/>
    </a>
</div> 
{% endblock %}