{% extends "plantilla-producto.twig" %}


{% block descripcion %} 
{% if Ddescripcion is defined %}
{% for aux in Ddescripcion|split('\n') %}
    <p class="justificado">
        {{aux}}
    </p>
{% endfor %}   

{% else %}
    error

{% endif %}

{% endblock %}