.fixed-width-container{
    width: 100%;
    border: solid 2px green;
    display: flex;
    justify-content: center;
}

.fixed-width{
    width: fit-content;
    border: 1px solid #000;
    text-align: start;
}

.center-content{
    display: flex;
    justify-content: center;
}