{% extends "formulario_plantilla.twig" %}

{% block main %}
{{ parent() }}
COMPROBACIONES DE LA CONTRASEÑA CON JAVASCRIPT, Y EN EL SERVIDOR TAMBIEN, AUNQUE SEA EL HASH
HACER QUE CUANDO UNO SE DEJE VACIO, DIGA CUALES SON OBLIGATORIOS<br/><br/>
<div>
    <form action="edit_perfil.php" method="post" enctype="multipart/form-data">
        <label>Cambiar foto de perfil</label><br/>
        <input type="file"/>
        <br/><br/>

        <label>Nombre</label><br/>
        <input type="text"/>

        <br/><br/>

        <label>Cambiar pais de residencia</label><br/>
        <select>
            <option>patata</option>
            <option>patata2</option>
            <option>patata3</option>
            <option>patata4</option>
            <option>patata5</option>
        </select>
        <br/><br/>

        <label>Cambiar nombre</label><br/>
        <input type="text"/><br/><br/>

        <label>Cambiar contraseña</label><br/>
        <input type="password"/>
        <br/><br/>
        <label>Confirmar contraseña</label><br/>
        <input type="password"/>

        <br/><br/>

        <label>Cambiar dirección de envío</label><br/>
        <input type="text"/>

        <br/><br/>

        <label>Cambiar género</label><br/>
        <select>
            <option>Hombre</option>
            <option>Mujer</option>
            <option>Otro</option>
            <option>Prefiero no decirlo</option>
        </select>

        <br/><br/>

        <button>Enviar</button>
    </form>
</div>
{% endblock %}