{% extends "plantilla_login.twig" %}

{% block Formulario %}
{% if SesionIniciada == false %}
<form action="login.php" method="post">

    <label>Correo electrónico</label><br/>
    <input class="maximizado" type="text" name="correo"/>

    <br/><br/>
    <label>Contraseña</label><br/>
    <input id="contra-input" class="maximizado" type="password" name="contra"/><br/>

    <input id="toggle-contra" type="checkbox"/>Mostrar contraseña<br/>

    <br/><br/>
    <button>Iniciar sesión</button>

    <!-- Poner el hidden aqui-->
    <input type="hidden" name="anterior" value="{{ Back }}"/>
</form>               
<div>
¿No eres usuario? <a href="signup.php">Regístrate</a> 
</div>
{% endif %}

{% endblock %}

{% block archivosJS %}
<script src="static/js/login.js"></script>
{% endblock %}