<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="static/css/login.css">
        <title>
            Login
        </title>

        <!--Uso las fuentes de Google-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">        
    </head>

    <body>
        <div id="contenedor-contenido">
            <div id="nombre-web">
                <h1>e-tienda</h1>
            </div>
            <div id="caja-login">
            <h2>Iniciar sesi칩n</h2>
                <form>

                    <label>Correo electr칩nico</label><br/>
                    <input type="text"/>

                    <br/><br/>
                    <label>Contrase침a</label><br/>
                    <input type="text"/>

                    <br/><br/>
                    <button>Iniciar sesi칩n</button>

                    <br/><br/>
                    <button>Registrarse</button>
                </form>                
            </div>
        </div>
    </body>


</html>