{% extends "formulario_plantilla.twig" %}

{% block main %}
{{ parent()}}

{% if ShowForm == true %}
<form action="new_image.php" method="post" enctype="multipart/form-data">
    <label>Imágenes</label></br>
    <input type="file" name="imagenes[]" multiple>
    <br/><br/>

    <button>Enviar</button>
    <input type="hidden" value="{{ Back }}" name="back"/>
    <input type="hidden" value="{{ IDProd }}" name="id-prod"/>
</form>
{% endif %}
{% endblock %}