<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="static/css/login.css">
        <title>
            {{ Titulo }}
        </title>

        <!--Uso las fuentes de Google-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">        
    </head>

    <body>
        <div id="contenedor-contenido">
            <div id="nombre-web">
                <h1>e-tienda</h1>
            </div>
            <div id="caja-login">
            <h2 class="centrado">{{ Header }}</h2>
            <div class="rojo">
                {% for aux in Errores %}
                    <p>{{ aux }}</p>
                {% endfor %}
            </div>
                {% block Formulario %}
                {% endblock %}
            </div>
        </div>
    </body>


</html>