
{% extends "plantilla_login.twig" %}

{% block Formulario %}
<form action="signup.php" method="post" enctype="multipart/form-data">
    <label>Nombre y apellidos</label><br/>
    <input class="maximizado" type="text" name="nombre"/>

    <br/><br/>

    <label>Correo electrónico</label><br/>
    <input class="maximizado" type="text" name="correo"/>

    <br/><br/>
    <label>Contraseña</label><br/>
    <input class="maximizado" type="password" name="contra"/>

    <br/><br/>
    <label>Repetir contraseña</label><br/>
    <input class="maximizado" type="password" name="contra-confirma"/>

    <br/><br/>

    <label>Dirección de envío</label><br/>
    <input class="maximizado" type="text" name="direccion"/>

    <br/><br/>

    <label>Género</label><br/>
    <select class="maximizado" name="genero">
        <option>Hombre</option>
        <option>Mujer</option>
        <option>Otro</option>
        <option>Prefiero no decirlo</option>
    </select>

    <br/><br/>

    <label>Género</label><br/>
    <select class="maximizado" name="pais">
        <option>patata</option>
        <option>patata2</option>
        <option>patata3</option>
        <option>patata5</option>
    </select>

    <br/><br/>

    <label>Foto de perfil</label><br/>
    <input class="maximizado" type="file" name="foto"/>
    <br/><br/>

    <button>Registrarse</button>

    <!-- Poner el hidden aqui-->
    <input type="hidden" name="anterior" value="{{ Back }}"/>
</form>               
<div>
¿Ya eres usuario? <a href="login.php">Inicia sesión</a> 
</div>
{% endblock %}