body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    width: fit-content;
    word-wrap: break-word;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

address{
    font-style: normal;
}

h1 {
    color: white;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 10px;
    text-align: justify;
}

span{
    color: black;
}


/*clases usadas en divs*/
.div-principal {
    border: 2px solid #00897b;
    border-radius: 0.2vh;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: beige;

}
.header {
    border-color: yellow;
    background-color: #009688;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-auto-rows: 200px;
}

.div-titulo-menu {
    display: grid;
    grid-template-rows: 60% 40%;
}

.div-titulo {
    border-radius: 0.2vh;
    font-size: 150%;
}

.div-menu {
    display: grid;
    /*minmax es muy util para obligar a que un elemento se quede dentro del div*/
    grid-template-columns: repeat(3, minmax(auto, 64px));
    align-content: center;
    gap: 1rem ;
}

.menu {
    /* offset-x offset-y blur-radius color*/
    box-shadow: 0 3px 3px rgba(0,0,0,0.23);
    transition: all 0.3s;
    background-color: #cddc39;
    border-radius: 0.2vh;
    text-align: center;
}

.menu:hover{
    transform: scale(1.2);
    box-shadow: 0 10px 7px rgba(0,0,0,0.4);
}

.contenido {
    display: grid;
    grid-template-columns: 75% 25%;
    background-color: #00897b;
    border-bottom: solid 2px #00897b;
}

.objetos {
    display: grid;
    gap: 2vh;
    grid-template-columns: repeat(3, 32%);
    grid-auto-rows: 270px;
    /*grid-auto-rows sirve para evitar poner el mismo numero 3 veces*/
    text-align: center;
    justify-content: center;
    /*justify-content sirve para centrar todos los cuadros en el centro del div*/
    padding: 3%;
    background-color: beige;
    border-radius: 0.2vh;
}

.box {
    border-radius: 0.2vh;
    background-color: #03A9F4;
    display: grid;
    grid-template-rows: 65% 20% 15%;
    grid-auto-columns: 100%;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
}

.box:hover{
    transform: scale(1.1);
    background-color: #cddc39;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.div-producto {
    background-color: #64b5f6;
}

.div-precio {
    background-color: #64b5f6;
    font-weight: 700;
    border-bottom-left-radius: 0.2vh;
    border-bottom-right-radius: 0.2vh;
}

.pie-copyright {
    text-align: center;
}

.div-pie {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.div-copyright {
    width: 100%;
    border-top: solid 2px #00897b;
    font-weight: 700;
}

.div-aux {
    display: grid;
    grid-template-rows: auto;
    grid-auto-columns: 100%;
    background-color: #00897b;
    padding: 5% 3% 5% 3%;
    gap: 1vh;
}

.div-aux-box {
    display: grid;
    grid-template-rows: auto;
    grid-auto-columns: 100%;
    background-color: #cddc39;
    border-radius: 0.2vh;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
}

.div-aux-titulo {
    align-self: center;
    text-align: center;
}

.div-aux-contenido {
    padding: 2%;
    background-color: #c0ca33;
    border-bottom-left-radius: 0.2vh;
    border-bottom-right-radius: 0.2vh;
}

.foro {
    padding-left: 0%;
    background-color: #c0ca33;
    border-bottom-left-radius: 0.2vh;
    border-bottom-right-radius: 0.2vh;
}

.div-social {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    
    justify-content: center;
    align-items: center;
    gap: 5%;
    
}
/*clases usadas en ul*/
/*clases usadas en li*/
.foro-lista {
    margin-top: 7%;
}
/*clases usadas en span*/
.tachon {
    text-decoration: line-through;
    color: red;
}

.oferta {
    color: green;
}

/*clases usadas en img*/


/*otros*/
.no-underline {
    color: black;
    text-decoration: none;
}