body {
    font-family: 'Roboto', sans-serif;
    width: fit-content;
    word-wrap: break-word;
    border: 2px solid #00897b;
    border-radius: 0.5vh;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);    
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

li {
    margin-bottom: 7%;
    padding-bottom: 10px;
    border-bottom: solid 2px black;    
}

address{
    font-style: normal; /*Para quitar la cursiva*/
}

footer {
    text-align: center;
}


aside {
    display: grid;
    grid-template-rows: auto;
    grid-auto-columns: 100%;
    background-color: #00897b;
    padding: 5% 3% 5% 3%;
    gap: 1vh;
}

h1 {
    color: white;
    text-align: center;
    font-size: 300%;
}

ul {
    margin-top:0;
    list-style-type: none;
    padding: 5px;
    text-align: justify;
}

#cabecera {
    background-color: #009688;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-auto-rows: 200px;
}


/*clases usadas en divs*/
#div-titulo-menu {
    display: grid;
    grid-template-rows: 60% 40%;
}

#navegacion {
    display: grid;
    /*minmax es muy util para obligar a que un elemento se quede dentro del div*/
    grid-template-columns: repeat(3, minmax(auto, 64px));
    align-content: center;
    gap: 1rem ;
}

.menu {
    /* offset-x offset-y blur-radius color*/
    box-shadow: 0 3px 3px rgba(0,0,0,0.23);
    transition: all 0.3s;
    background-color: #cddc39;
    border-radius: 0.5vh;
    text-align: center;
}

.menu:hover{
    transform: scale(1.2);
    box-shadow: 0 10px 7px rgba(0,0,0,0.4);
}

#contenido {
    display: grid;
    grid-template-columns: 75% 25%;
    background-color: #00897b;
    border-bottom: solid 2px #00897b;
}

main {
    display: grid;
    gap: 2vh;
    grid-template-columns: repeat(3, minmax(auto, 32%)); /*Obliga a que los articulos no se salgan del main*/
    grid-auto-rows: 270px;
    /*grid-auto-rows sirve para evitar poner el mismo numero 3 veces*/
    text-align: center;
    justify-content: center;
    /*justify-content sirve para centrar todos los cuadros en el centro del div*/
    padding: 3%;
    background-color: beige;
    border-radius: 0.5vh;
}

.box {
    border-radius: 0.5vh;
    background-color: #03A9F4;
    display: grid;
    grid-template-rows: 65% 20% 15%;
    grid-auto-columns: 100%;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
}

.box:hover{
    transform: scale(1.1);
    background-color: #cddc39;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.fondo-azul-claro {
    background-color: #64b5f6;
}

.div-precio {
    font-weight: 700;
    border-bottom-left-radius: 0.5vh;
    border-bottom-right-radius: 0.5vh;
}

#div-pie {
    display: grid;
    grid-template-columns: repeat(5, 20%);
}

#div-copyright {
    border-top: solid 2px #00897b;
    font-weight: 700;
}

.nota-container {
    display: grid;
    grid-template-rows: auto;
    grid-auto-columns: 100%;
    background-color: #cddc39;
    border-radius: 0.5vh;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
}

.nota-titulo {
    align-self: center;
    text-align: center;
}

.nota-contenido {
    padding: 2%;
    background-color: #c0ca33;
    border-bottom-left-radius: 0.5vh;
    border-bottom-right-radius: 0.5vh;
}

#div-social {
    display: grid;
    grid-template-columns: repeat(3, 26%);
    justify-content: center;
    align-items: center;
    gap: 5%;
}

#tachon {
    text-decoration: line-through;
    color: red;
}

#oferta {
    color: green;
}

.no-underline {
    color: black;
    text-decoration: none;
}