/*

He borrado las clases que no se necesitan de este archivo por lo que se simplifica mucho.

No se usan ya que se han eliminado elementos con display: none;
*/

body {
    font-weight: 400;
    width: fit-content;
    word-wrap: break-word;
    border: solid 1px black;
}

address{
    font-style: normal;
}

a {
    color: black;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

h1 {
    text-align: center;
    font-size: 300%;
}


/*clases usadas en divs*/
#cabecera {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-auto-rows: 200px;
    border: solid 1px black;
}

#div-titulo-menu {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-rows: 60% 40%;
}

#cabecera:first-child{
    grid-column: 2;
    grid-row: 1;
}

#div-titulo {
    font-size: 150%;
}

#navegacion {
    display: none;
}

#contenido {
    display: grid;
    /*grid-template-columns: 100%;*/
}

footer {
    text-align: center;
}

#div-pie {
    border: solid 1px black;
    display: grid;
    grid-template-columns: repeat(5, 20%);
}

#div-copyright {
    border: solid 1px black;
    font-weight: 700;
}

aside {
    display: none;
}




/*Clases de producto, separar cuando se acabe*/
main{
    border: solid 1px black;
    /*grid-auto-rows: auto;*/
    text-align: center;
    /*justify-content: center;*/
    padding: 1%;
}

#info{
    float:left;
    width: 55%;
    display: grid;
    grid-auto-rows: auto auto auto;
    /*grid-auto-columns: 100%;*/
    margin-bottom:10px;
    border: solid 1px black;
}

/* Añadir aqui un borde para el segundo hijo*/
#info section:nth-child(2){
    border: solid 1px black;
}

/*Para que las imagenes se queden en la derecha es necesario usar float:right*/
#contenedor-imgs{
    float: right;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    width: 35%;
    max-width: 200px;
    gap: 3%;
    padding: 3%;
}

#justificado{
    clear: left;
    word-wrap: normal;
    text-align: justify;
}

#titulo{
    border: solid 1px black;
}

h2{
    font-size: 140%;
    margin: 0;
}

h3{
    font-size: 100%;
    margin: 0;
}

#precio{
    border: solid 1px black;
}

table, td, tr{
    border: solid 1px black;
    border-collapse: collapse; /*Para que se junten los bordes*/

    /*Estos dos comandos son para centrar la tabla*/
    margin-left: auto;
    margin-right: auto;
}

#video-container{
    display: none;
}

#video-texto{
    display: none;
}

.img-producto{
    display: grid;
    grid-template-rows: 80% 20%;
}

.centrado-vertical{
    align-self: center;
}