body{
    /*background-color: beige;*/
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
/*
div{
    border: 1px;
    color: red;
    border-style:solid;
}
*/


h1{
    color:white;
    text-align: center;
    align-self: center;
}

.p1{
    color:brown;
}


.p2{
    color:yellowgreen;
}
.header{
    /*text-align: center;*/
    /*display: flex;*/
    /*border: solid 2px red;*/
    background-color: #009688;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-auto-rows: 150px;
    width: 100%;
    /*border-bottom: solid 2px #00897b;*/
}


.div-principal{
    border: 2px solid #00897b;  
    border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);  
    background-color: beige;
}
.image{
    border: solid 2px black;
    border-radius: 50%;
    background-color: beige;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.div-titulo-menu{
    width:100%;
    display: grid;
    grid-template-rows: 60% 40%;/*repeat(2, 50%);*/
    height:100%;
    /*border: solid 2px red;*/
}

.div-titulo{
    border-radius: 2px;
    width: 100%;
}

.div-menu{
    /*border: solid 2px red;*/
    
    width: 35%; 
    height: auto; 
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
    align-content: center;
    gap: 3%;
    
}

.menu{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);    
    background-color: #cddc39;
    border-radius: 2px;
    /*border: solid 2px red;*/
    text-align: center;

}

.blanco{
    color: black;
}

img{
    width:100%;
    height:100%;
    object-fit: contain;
}

.foto{
    border-radius: 5%;
}

ul{
    list-style-type: none;
    padding: 10px;
}

.horizontal{
    display: inline;
    margin-left:10px;
    margin-right:10px;
}


.contenido{
    display: grid;
    grid-template-columns: 75% 25%;
    width: 100%;
    height: auto;
    background-color: #00897b;
    border-bottom: solid 2px #00897b;

}

.objetos{
    display: grid;    
    gap: 10px;
    grid-template-columns: repeat(3, 33%);
    grid-auto-rows: 250px;  /*grid-auto-rows sirve para evitar poner el mismo numero 3 veces*/
    text-align: center;
    justify-content: center;    /*justify-content sirve para centrar todos los cuadros en el centro del div*/
    padding: 3%;
    background-color: beige;
    border-radius: 2px;
}

.box{
    border-radius: 2px;
    background-color: #03A9F4;
    display: grid;
    grid-template-rows: 70% 15% auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.div-imagen{
    color: black;
    width:100%;
}

.div-producto{
    width: 100%;
    color: black;
    background-color: #64b5f6;
    /*border: solid 2px red;*/
}

.div-precio{
    /*border: solid 2px red;*/
   background-color: #64b5f6;
   color:black;
   font-weight: 700;
   border-bottom-left-radius: 2px;
   border-bottom-right-radius: 2px;
}

.div-aux{
    /*width: 25%;*/
    height: auto;  
    color:black; 
    display: grid;
    grid-template-rows: 24% 24% 34% 14%;
    background-color: #00897b;
    padding:3%;
    gap: 1%;
    /*border: solid 2px red;*/
}

.pie-copyright{
    width: 100%;
    height: auto;
    text-align: center;    
}

.div-pie{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.div-copyright{
    width: 100%;
    height: auto;
    border-top: solid 2px #00897b;
    font-weight: 700;
}

.div-social-texto{
    text-align: center;
    width:100%;
}

.div-social-img{
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-auto-rows: 100%;
    justify-content: center;
    align-items: center;
    gap:5%;
    width:100%;
    color:darkgreen;
    background-color: #c0ca33;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;    
}

.social-img{
    color: pink;
}

.tachon{
    text-decoration:line-through;
    color: red;
}

.oferta{
    color:green;
    /*poner en negrita*/
}

.foro-titulo{
    align-self: center;
    text-align: center;
}

.foro-entradas{
    list-style-type:decimal;
    padding: 0%;
    margin-left: 10%;  
    text-align: justify;  
}

.div-entradas{
    font-size: 90%;
    background-color: #c0ca33;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.foro-lista{
    padding: 1%;
}

.div-ubi{
    width: 100%;
    display: grid;
    grid-template-rows: 10% 90%;
    background-color: #cddc39;
    border-radius: 2px;
    /*border: solid 2px red;*/
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.div-links{
    /*border: solid 2px red;*/
    width: 100%;
    display: grid;
    grid-template-rows: 10% 90%;
    background-color: #cddc39;
    border-radius: 2px;
    /*border: solid 2px red;*/
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);    
}

.div-foro{
    width:100%;
    display: grid;
    grid-template-rows: 10% 90%;
    background-color: #cddc39;
    border-radius: 2px;
    /*border: solid 2px red;*/
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);    
}

.div-social{
    width:100%;
    display: grid;
    grid-template-rows: 20% 80%;
    background-color: #cddc39;
    border-radius: 2px;
    /*border: solid 2px red;*/
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);    
}

.div-ubi-titulo{
    align-self: center;
    text-align: center;
}


.mapa{
    padding:2%;
    background-color: #c0ca33;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}


.titulo-links{
    align-self: center;
    text-align: center;
}

.centrado{
    padding: 5%;
    font-size: 90%;
    background-color: #c0ca33;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.link-list{
    padding: 2%;
    
}

.estrecho{
    display: inline-block;
    margin: 10%;
    padding:10%;
}
/*
.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

https://codepen.io/sdthornton/pen/wBZdXq
https://saruwakakun.com/en/material-color
*/